In [57]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
from sklearn import linear_model
from sklearn.model_selection import train_test_split
import random

In [58]:
df = pd.read_csv('auto-mpg.data',header=None, delimiter=r"\s+")

In [59]:
df.head()

      0  1      2      3       4     5   6  7                          8
0  18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1  15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2  18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3  16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4  17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino

In [60]:
model = pd.DataFrame(df, columns = [0,2,3,4,5])
model[:5]

      0      2      3       4     5
0  18.0  307.0  130.0  3504.0  12.0
1  15.0  350.0  165.0  3693.0  11.5
2  18.0  318.0  150.0  3436.0  11.0
3  16.0  304.0  150.0  3433.0  12.0
4  17.0  302.0  140.0  3449.0  10.5

In [61]:
X_data=pd.DataFrame(model, columns = [2,3,4,5])
Y_data=pd.DataFrame(model, columns = [0])

df_X_train, df_X_test, df_Y_train, df_Y_test = train_test_split(X_data, Y_data, test_size = 0.2)
print(df_X_train.shape, df_Y_train.shape, df_X_test.shape, df_Y_test.shape)

(318, 4) (318, 1) (80, 4) (80, 1)

In [62]:
regr = linear_model.LinearRegression()

In [63]:
regr.fit(df_X_train,df_Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [64]:
print("Coefficients:", regr.coef_, " Intercept: ", regr.intercept_)

Coefficients: [[ 0.00019654 -0.05018237 -0.00581824  0.05873747]]  Intercept:  [ 45.06505748]

In [65]:
predict_outcome = regr.predict(df_X_test)

In [66]:
MSE = np.mean((predict_outcome - df_Y_test) ** 2)
print("Mean squared error:", MSE)

Mean squared error: 0    16.420064
dtype: float64

In [67]:
VAR = regr.score(df_X_test, df_Y_test)
print('Variance score:', VAR)

Variance score: 0.699504044627